.page-home{
  .title{
    font-size: 18px;
    font-weight: 500;
  }
  .action-btn{
    background: transparent;
    border:none;
    appearance: none;
    background:orange;
    color:#fff;
    margin-right: 10px;
    padding:10px;
    border-radius: 4px;
  }
}